<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset='utf-8' />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>{{ page_default_title }} {% block title %}{% endblock %}</title>
        {% load utils %}
        {% load i18n %}
        {% load url from future %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/style.css" />
        <link rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/fonts.css" />
        <link rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/friendly.css" />
        <link rel="alternate" type="application/atom+xml" title="{{ page_default_title }} Latest posts" href="{% url "web:posts-feed" %}" />
        {% block html-head %}{% endblock %}
        {% block opengraph %}{% endblock %}
        <meta property="fb:admins" content="{{ fcbk_admin }}" />
        <meta property="fb:app_id" content="{{ fcbk_app_id }}"/>
    </head>
    <body>
        <div class="main-container">
            {% block main %}
            <header>
                {% if homepage %}
                    {% if homepage.markup %}{{ homepage.content|markdown }}
                    {% else %}{{ homepage.content|safe }}
                    {% endif %}
                {% endif %}
            </header>
            {% endblock %}
            {% block foother %}
            <footer>
                {% show_page "nav" %}
                <p>This web application is open source, and you can download the sources from 
                    <a href="https://github.com/niwibe/niwi-web/">here.</a></p>
                <p>Software: niwi-web v2</p>
                <h3>{{ page_default_title }}</h3>
            </footer>
            {% endblock %}
        </div>
        {% if not debug %}
            {% include "niwi/utils/facebook.html" %}
        {% endif %}

        {% analytics %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.1.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/base.js"></script>
    </body>
</html>
