{% extends "niwi/base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}- Bookmarks {% endblock %}

{% block opengraph %}
<meta property="og:title" content="Latest bookmarks"/>
<meta property="og:type" content="blog"/>
<meta property="og:url" content="{{ full_host_url }}" />
<meta property="og:image" content="{{ host }}/static/logo.png"/>
{% endblock %}

{% block main %}
<div class="submodule-content">
    <h2>{% trans "My shared links:" %}</h2>
    <div class="link-list">
        {% for bm in bookmarks %}
        <div class="link">
            <div class="link-head">
                <a target="_blank" class="link-title" href="{{ bm.get_absolute_url }}">{{ bm.title }}</a>
                <div class="link-meta">
                    <span class="fecha">{{ bm.modified_date }}</span> 
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
