{% extends "niwi/base.html" %}
{% load i18n %}
{% load utils %}
{% load url from future %}

{% block title %}- Bookmarks {% endblock %}

{% block opengraph %}
<meta property="og:title" content="{{ page_default_title }} Latest bookmarks"/>
<meta property="og:type" content="blog"/>
<meta property="og:url" content="{{ full_host_url }}" />
<meta property="og:image" content="{{ page_default_logo_url }}"/>
{% endblock %}

{% block main %}
<header>
    <h1>{% trans "Latest Bookmarks" %}</h1>
    <nav>
        <p class="intro">See all bookmarks in
            {% for year in years %}
            <a href="{% url 'web:bookmarks' year %}">{{ year }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}.
        </p>
    </nav>
</header>
<section class="bookmarks">
    {% for dt, bmqs in bresult %}
        <h2>{{ dt }}</h2>
        {% for bm in bmqs %}
        <a href="{{ bm.url }}">{{ bm.title|truncatewords:12 }}</a><br />
        {% endfor %}
    {% endfor %}
</section>

{% comment %}
<div class="submodule-content">
    <h2>{% trans "My shared links:" %}</h2>
    <div class="link-list">
        {% for bm in bookmarks %}
        <div class="link">
            <div class="link-head">
                <a target="_blank" class="link-title" href="{{ bm.get_absolute_url }}">{{ bm.title }}</a>
                <div class="link-meta">
                    <span class="fecha">{{ bm.modified_date }}</span> 
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endcomment %}
{% endblock %}
