{% extends "niwi/base.html" %}
{% load i18n %}
{% load utils %}
{% load url from future %}

{% block title %} {% trans "- Home page." %}{% endblock %}

{% block opengraph %}
<meta property="og:title" content="Niwi.Be Page"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="{{ full_host_url }}" />
<meta property="og:image" content="{{ host }}/static/logo.png"/>
{% endblock %}

{% block html-head %}
<!-- TODO: set this on settings -->
<meta name="Keywords" content="niwi, niwi.be, projects, links, photos, opensource, bsd, freebsd, linux" />
<meta name="Description" content="My personal blog, dedicated to my small contribution to the opensource world." />
{% endblock %}


{% block main %}
{{ block.super }}
<section>
    <h2>{% trans "Recent Entries" %}</h2>
    <hr />
    {% for post in posts %}
    <article>
        <h3>{{ post.title }}</h3>
        <p>{{ post.content|markdown|striptags|truncatewords:30 }}</p>
        <p><span class="meta">Published on {{ post.created_date }}</span> | 
            <a class="navigation" href="{{ post.get_absolute_url }}">Read full entry</a> ↵</p>
    </article>
    {% endfor %}
    <p class="navigation bottom tright"><a href="{% url "web:posts" %}">See more entries</a> →</p>
</section>
{% endblock %}
