{% extends "niwi/base.html" %}
{% load i18n %}
{% load utils %}
{% load url from future %}

{% block title %} {% trans "- Home page." %}{% endblock %}

{% block opengraph %}
<meta property="og:title" content="{{ page_default_title }} Page"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="{{ full_host_url }}" />
<meta property="og:image" content="{{ page_default_logo_url }}"/>
{% endblock %}

{% block html-head %}
<meta name="Keywords" content="{{ page_default_keyworkds }}" />
<meta name="Description" content="{{ page_default_description }}" />
<link type="text/css" rel="stylesheet" media="screen" href="{{ STATIC_URL }}colorbox/colorbox.css" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}colorbox/jquery.colorbox-min.js"></script>
{% endblock %}


{% block main %}
{{ block.super }}

{% if config.core_homepage_entries_display %}
<section>
    <h2>{% trans "Recent Entries" %}</h2>
    <hr />
    {% for post in posts %}
    <article>
        <h3>{{ post.title }}</h3>
        <p>{{ post.content|markdown|striptags|truncatewords:30 }}</p>
        <p><span class="meta">Published on {{ post.created_date|date:"j F Y" }}</span> | 
            <a class="navigation" href="{{ post.get_absolute_url }}">Read full entry</a> ↵<br />
            {% if post.tags %}{{ post.tags|parse_tags }}{% endif %}
        </p>
    </article>
    {% endfor %}
    <p class="navigation bottom tright"><a href="{% url "web:posts" %}">See more entries</a> →</p>
</section>
{% endif %}

{% if config.core_homepage_photo_display %}
<section class="latest-photos">
    <h2>{% trans "Recent Photos" %}</h2>
    <hr />

    {% for photo in photos %}
    <article class="photo" lang="es">
        <a href="{{ photo.medium.url }}" rel="photo" title="{{ photo.small_description }}">
            <img src="{{ photo.square.url }}" class="preview"></img>
        </a>
        <div class="photo-meta">
            <p class="small-description">
                {{ photo.created_date|date:"j F Y" }}<br />
                {{ photo.small_description|wordwrap:28|linebreaksbr }}</p>
        </div>
        <a class="show-detail icon" href="{{ photo.get_absolute_url }}">
            <img src="{{ STATIC_URL }}icons/eye.png"></img>
        </a>
    </article>
    {% endfor %}
    <div style="clear: left;"></div>
    <p class="navigation bottom tright"><a href="{% url "photo:show-home" %}">See more photos</a> →</p>
</section>
{% endif %}
{% endblock %}
