{% extends "niwi/base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}- {{ object.title }} {% endblock %}

{% block html-head %}
<meta name="Keywords" content="{{ object.title }}" />
<meta name="Description" content="{{ object.content|truncatewords:30 }}" />
{% endblock %}

{% block body %}
<div class="submodule-content">
    <div class="project-entity">
        <div class="content">
            {% if object.markup %}{{ object.content|markdown }}
            {% else %} {{ object.content|safe }}
            {% endif %}
        </div>
    </div>
    {% include "utils/share.block.html" %}
</div>
{% endblock %}
