{% extends "niwi/base.html" %}
{% load i18n %}
{% load utils %}
{% load url from future %}

{% block title %}- Posts {% endblock %}

{% block opengraph %}
<meta property="og:title" content="Niwi.Be Latest posts"/>
<meta property="og:type" content="blog"/>
<meta property="og:url" content="{{ full_host_url }}" />
<meta property="og:image" content="{{ host }}/static/logo.png"/>
{% endblock %}

{% block html-head %}
<meta name="Keywords" content="niwi posts, posts, news, articles, articulos, software libre, opensource, open source" />
<meta name="Description" content="Collection of articles, mostly written by me." />
{% endblock %}

{% block main %}
<header>
    <h2>{% trans "Latest Entries" %}</h2>
    <nav>
        <p class="intro">See all entries published by in
            {% for year in years %}
            <a href="{% url 'web:posts' year %}">{{ year }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}.
        </p>
    </nav>
</header>
<section>
    {% for post in posts %}
    <article lang="es">
        <h3>{{ post.title }}</h3>
        <p>{{ post.content|markdown|striptags|truncatewords:30 }}</p>
        <p>
            <span class="meta">Published on {{ post.created_date }}</span> |
                <a class="navigation" href="{{ post.get_absolute_url }}">Read full entry</a> ↵</p>
    </article>
    {% endfor %}
    {% include "niwi/utils/pagination.html" %}
</section>
{% endblock %}
