{% extends "niwi/base.html" %}
{% load i18n %}
{% load utils %}
{% load cache %}

{% block title %}- {{ object.title }} {% endblock %}

{% block opengraph %}
<meta property="og:title" content="{{ page_default_title }}Post - {{ object.title }}"/>
<meta property="og:type" content="article"/>
<meta property="og:url" content="{{ full_host_url }}" />
<meta property="og:image" content="{{ page_default_logo_url }}"/>
{% endblock %}

{% block html-head %}
<meta name="Keywords" content="{{ object.title }}" />
<meta name="Description" content="{{ object.content|truncatewords:20 }}" />
{% endblock %}

{% block main %}
    {% cache 20 object.id object.modified_date %}
    <article>
        <h1>{{ object.title }}</h1>
        {% render_template object.content object.markup %}
    </article>
    {% endcache %}

    {% include "niwi/utils/share.block.html" %}
    {% include "niwi/utils/disqus-post.html" %}
{% endblock %}
