{% extends "niwi/base.html" %}
{% load i18n %}
{% load utils %}
{% load cache %}

{% block title %}- {{ object.title }} {% endblock %}

{% block opengraph %}
<meta property="og:title" content="Niwi.Be Post - {{ object.title }}"/>
<meta property="og:type" content="article"/>
<meta property="og:url" content="{{ full_host_url }}" />
<meta property="og:image" content="{{ host }}/static/logo.png"/>
{% endblock %}

{% block html-head %}
<meta name="Keywords" content="{{ object.title }}" />
<meta name="Description" content="{{ object.content|truncatewords:20 }}" />
{% endblock %}

{% block body %}
<div class="submodule-content">
    <div class="post-entity">
        <div class="title">
            <h1>{{ object.title }}</h1>
        </div>
        <div class="content">
            {% if object.markup %}
            {{ object.content|markdown }}
            {% else %}
            {{ object.content|safe }}
            {% endif %}
        </div>
    
        {% with postfiles=object.files.all %}
        {% if postfiles.count > 0 %}
        <div class="asociated-files">
            <h3>{% trans "Asociated files:" %}</h3>
            <ul>
                {% for fobj in postfiles %}
                <li><a target="_blank" href="{{ fobj.file.url }}">{{ fobj.file.name|fixname }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endwith %}
    </div>
    {% include "utils/share.block.html" %}
    {% include "utils/disqus-post.html" %}
</div>
{% endblock %}
