{% extends "niwi/base.html" %}
{% load i18n %}
{% load utils %}
{% load cache %}

{% block title %}- {% trans "Project:" %} {{ project.name }} {% endblock %}

{% block html-head %}
<meta name="Keywords" content="{{ project.title }}" />
<meta name="Description" content="{{ project.content|truncatewords:30 }}" />
{% endblock %}

{% block body %}
<div class="submodule-content">
    <div class="project-entity">
        <div class="title">
            <h1>{{ project.title }}</h1>
        </div>
        <div class="content">
            {% cache 1200 project.slug project.modified_date %}
            <p>{{ project.description }}</p>
            {{ project.content|markdown }}
            {% endcache %}
        </div>
    </div>
    {% include "utils/share.block.html" %}
</div>
{% endblock %}
