{% extends "niwi/base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}- Snippets{% endblock %}

{% block html-head %}
<meta name="Keywords" content="niwi snippets, snippets, articles, articulos, software libre, opensource, open source" />
<meta name="Description" content="Colleccion trozos de codigo util y no tan util." />
{% endblock %}

{% block body %}
<div class="submodule-content">
    <h2>{% trans "Snippets:" %}</h2>
    <div class="snippet-list">
        {% for snippet in page_obj.object_list %}
        <div class="snippet">
            <div class="snippet-head">
                <a class="snippet-title" href="{% url show-snippet snippet.slug %}">{{ snippet.title }}</a>
                <div class="snippet-meta">
                    <span class="fecha">{{ snippet.modified_date }}</span> // 
                    <span class="tags">{{ snippet.tags|tags_parser }}</span>
                </div>
            </div>
            <div class="snippet-content">
                {{ snippet.description|truncatewords_html:40 }}
            </div>
        </div>
        {% endfor %}
    </div>
    {% include "share.block.html" %}
    {% include "pagination.html" %}
</div>
{% endblock %}
