<header> 
<img class="avatar" src="http://media.westphahl.net/avatar.png"> 
<h1>Simon Westpha<em>h</em>l</h1> 
 
<p class="intro">Hi. I am a student of applied computer science at the University of Ravensburg-Weingarten. Prior to that I worked as an IT specialist for system integration at a <a href="http://www.josef-hebel.de/">company</a> in the building sector. I also do some freelance web development and IT stuff.</p> 
<p class="intro">See <a href="/bookmarks/">my bookmarks</a> for topics I'm interested in. You can find some of my university and private projects on <a href="http://github.com/westphahl">Github</a>.</p> 
 
<p class="intro"><em>Feel free to <a href="#contact">contact</a> me!</em></p> 
</header> 
