.module-main { width: 1000px; }
.submodule-content {
	width: 1000px;
	margin:0 auto;
}

ul.images {
	display:none;	
}

.panel {
	float:left;	
}

ul.exposureThumbs {
	background:#666;
	border:12px solid #666;
	border-right:none;
	padding:0;
	margin:0;
	list-style-type:none;
}

ul.exposureThumbs li {
	margin:0 0 12px 0;
	padding:0;
	text-align:center;
	display:none;
}

ul.exposureThumbs li img {
	cursor:pointer;
    border: 1px solid white;
}

ul.exposureThumbs li.last {
	margin:0;	
}

.exposureTarget {
	width:1000px;
	background-color:#666;
	background-image:url(/static/res/loader.gif);
	background-repeat:no-repeat;
	background-position:center center;
	float:left;	
	padding:0;
	margin:0;
	border:12px solid #666;
	position:relative;
	overflow:hidden; 
}

.exposureWrapper {
	position:absolute; 
	top:0; 
	left:0;
}

.exposureWrapper img {
    width: 860px;
	cursor:pointer;
	position:absolute;
	top:0;
	left:0;
}

.exposureLoaded {
	background-image:none;	
}

.exposureData {
	position:absolute;
 	left:0;
 	right:0;
 	bottom:-2000px;
	height:60px;
	padding:7px;
	background-image:url(/static/res/veil.png);
	color:#fff;
	font-size:13px;
	display:none;
    line-height: 1.2em;
}

/* In this demo we are using thumbs with fixed size */
ul.exposureThumbs li {
	height:79px;
}

.exposureSlideshowControls a,
.exposureControls span,
.exposureControls a {
	font-size:11px;
	padding:8px;
	background-color:#AAA;
	display:block;
	float:left;
}

.exposureSlideshowControls a {
	float:right;	
}

.exposureSlideshowControls a,
.exposureControls a {
	color: black;
	text-decoration:none;
	outline:none;
}

.exposureSlideshowControls a:active,
.exposureSlideshowControls a:hover,
.exposureControls a:active,
.exposureControls a:hover {
	background-color:#444;
	color:#ddd;
}

.exposurePaging .active {
	color:#fff;
	background-color:#333;	
}

.clear {
	clear:both;	
}

p.info {
	margin:40px auto;
	text-align:center;	
	width:600px;
}

p.info a {
	color:#006fc0;	
}

p.info a:hover, p.info a:active {
	color:#0084e7;	
}
