{% extends "niwi/base.html" %}
{% load i18n %}
{% load utils %}
{% load url from future %}

{% block title %} {% trans "- Home page." %}{% endblock %}

{% block main %}
<section class="filepaste-item">
    <h2>{% trans "File:" %} {{ file.description }}</h2>
    <h3>{% trans "Size:" %} {{ file.attached_file.size|filesizeformat }}</h3>
    <hr />
    <section class="download">
        <form method="post" action="{{ full_current_url }}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn01" value="{% trans "Download" %}" />
        </form>
    </section>
</section>
{% endblock %}
