{% extends "niwi/base.html" %}
{% load i18n %}
{% load utils %}
{% load url from future %}

{% block title %} {% trans "- Home page." %}{% endblock %}

{% block main %}
<section class="filepaste-item">
    <h2>{% trans "File:" %}{{ file.description }}</h2>
    <hr />
    <section class="download">
        <form method="post" action="{{ full_current_url }}">
            <label>{% trans "Password: " %}</label>
            <input type="password" placeholder="{% trans "Write you secret password..." %}" />
            <br />
            <input type="submit" value="{% trans "Download" %}" />
        </form>
    </section>
</section>
{% endblock %}
