{% extends "niwi/base.html" %}
{% load i18n %}
{% load utils %}
{% load url from future %}

{% block title %}- Bookmarks {% endblock %}

{% block opengraph %}
<meta property="og:title" content="{{ page_default_title }} Latest bookmarks"/>
<meta property="og:type" content="blog"/>
<meta property="og:url" content="{{ full_host_url }}" />
<meta property="og:image" content="{{ page_default_logo_url }}"/>
{% endblock %}

{% block main %}
<header>
    <h1>{% trans "Latest Bookmarks" %}</h1>
    <nav>
        <p class="intro">See all bookmarks in
            {% for year in years %}
            <a href="{% url 'web:bookmarks' year %}">{{ year }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}.
        </p>
    </nav>
</header>
<section class="bookmarks">
    {% for dt, bmqs in bresult %}
    <section class="month">
        <h2>{{ dt|date:"F Y" }}</h2>
        {% for bm in bmqs %}
        <a href="{{ bm.url }}">{{ bm.title|truncatewords:12 }}</a><br />
        {% endfor %}
    </section>
    {% endfor %}
</section>
{% endblock %}
