{% if is_paginated %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <span class="prev-button">
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        </span>
        {% endif %}
        <span class="current">
            page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
        <span class="next-button">
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        </span>
        {% endif %}
    </span>
</div>
{% endif %}
