@font-face {
  font-family: 'Walter Turncoat';
  font-style: normal;
  font-weight: normal;
  src: local('Walter Turncoat'), local('WalterTurncoat'), url('/static/fonts/Walter_Turncoat/WalterTurncoat.woff') format('woff');
}
