/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Styles for westphahl.net */
body {
    font: 16px/24px 'Walter Turncoat', serif;
    background-color: #edebea;
    color: #4f4f4f;
}
body>div {
    width: 40em;
    padding: 3em 3em 1.5em;
    margin: 3em auto;
    background-color: #fff;
}
h1,h2,h3 {
    font-weight: normal;
    font-family: 'Walter Turncoat', sans-serif;
}
h1 {
    font-size: 32px;
    line-height: 48px;
    margin: 0 0 24px 0;
}
h2 {
    font-size: 26px;
    line-height: 48px;
    margin: 0 0 24px 0 ;
}
h3 {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 24px 0;
}
p, ul, ol, dl {
    line-height: 24px;
    margin: 0 0 24px 0;
}
ul {
    list-style-type: square;
}
ol {
    list-style-type: decimal;
}
dt {
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}
pre {
    background-color: #edebea;
    overflow: auto;
    font-family: 'Droid Sans Mono', monospace;
    font-size: 14px;
    padding: 12px;
    margin: 0 0 24px;
}
hr {
    border: 0;
    background-color: #edebea;
    height: 2px;
    margin: 0 0 22px 0;
}
em {
    font-style: italic;
}
strong {
    font-weight: bold;
}
a {
    color: #e04f04;
}
a:visited {
    color: #e69b69;
}
img.avatar {
    position: relative;
    float: right;
}
header > p,
p.intro {
    font-family: 'Walter Turncoat', serif;
    font-size: 18px;
    /*color: #b3aca2;
    color: #A8A196;*/
    color: #a8a7a6;
}
.meta {
    font-family: 'Droid Serif', serif;
    font-style: italic;
    color: #a8a7a6;
    font-size: 13px;
}
dl .meta {
    margin: 0 0 24px 0;
}
dl .url {
    font-family: 'Droid Serif', serif;
    font-style: italic;
    color: #a8a7a6;
}
dl.bookmarks-home .url {
    margin: 0 0 24px 0;
}
.navigation {
    font-family: 'Droid Serif', serif;
    font-style: italic;
    font-size: 13px;
}
.bottom {
    margin: 0;
}
.tright {text-align: right;}
.dsq-dc-logo {display: none !important;}

footer { 
    margin-top: 40px;
    font-family: 'Walter Turncoat', serif;
    font-style: italic;
    color: #A8A7A6;
    font-size: 11px;
}
header.main-header {
    margin-bottom: 50px;
}
header.nav-header {
    margin-bottom: 20px;
}

.viewer-content pre { 
    font-size: 11px; 
    padding: 0px;
    line-height: 14px;
}

section.form textarea { 
    width: 620px;
    border: 1px solid #aaa;
}
section.paste-list {
    margin-top: 50px;
}
select, input {
    background-color: white;
    border: 1px solid #aaa;
}


header nav, header nav li,
footer  nav, footer nav li {
    display: inline;
    list-style: none;
    padding: 5px;
}

header nav, footer nav {
    padding-bottom: 20px;
}

ul {
    padding-left: 30px;
}
section.page img {
    max-width: 40em;
}
section.month {
    margin-bottom: 30px;
}

/* PHOTO */
section.latest-photos {
    overflow: hidden;
}

section article.photo {
    width: 200px;
    height: 270px;
    float: left;
    margin-left: 5px;
    margin-bottom: 5px;
    border: 1px solid #FFF;
}
section article.photo:hover {
    border: 1px solid #999;
}
section article.photo img {
    width: 200px;
}
section article.photo div.photo-meta {
    font-size: 12px;
    line-height: 1em;
}
section article.photo div.photo-meta p.small-description {
    line-height: 1em;
}
