{% extends "niwi/base.html" %}
{% load i18n %}
{% load paste_utils %}
{% load url from future %}

{% block title %} {% trans "- Paste" %}{% endblock %}

{% block main %}
<section class="submodule-paste">
    <section class="paste-description">
        <p>Copie el texto y pegalo en el area del texto, seleccione el tipo de coloreado y ponga guardar.</p>
    </section>
    <section class="form">
        <form action="" method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    <td colspan="3">
                        {{ form.paste.errors }}
                        {{ form.paste }}
                    </td>
                </tr>
                <tr>
                    <td class="lexer-part">
                        <label>{{ form.lexer.label }}</label><br />
                        {{ form.lexer.errors }}
                        {{ form.lexer }}
                    </td>
                    <td class="title-part">
                        <label>{{ form.title.label }}</label><br />
                        {{ form.title.errors }}
                        {{ form.title }}
                    </td>
                    <td class="group-part">
                        <label>{{ form.group.label }}</label><br />
                        {{ form.group.errors }}
                        {{ form.group }}
                    </td>
                </tr>
            </table>
            <div class="form-part">
                <input type="submit" value="{% trans "Save" %}" />
            </div>
        </form>
    </section>
    <section class="paste-list">
        <h2>{% trans "List of old pastes:" %}</h2>
        <table class="lister">
            {% for paste in pastes %}
            <tr>
                <td class="title"><a href="{% url "web:paste-view" paste.id %}">{{ paste.title|default_title }}</a></td>
                <td class="created">{{ paste.created }}</td>
                <td class="lexer">{{ paste.lexer }}</td>
            </tr>
            {% endfor %}
        </table>
    </section>
</section>
{% endblock %}
