{% extends "base.html" %}
{% load i18n %}

{% block title %} - Album: {{ album.title }}{% endblock %}

{% block opengraph %}
<meta property="og:title" content="Niwi.Be Photo Album - {{ album.title }}"/>
<meta property="og:type" content="article"/>
<meta property="og:url" content="{{ full_host_url }}" />
<meta property="og:image" content="{{ host }}/static/logo.png"/>
{% endblock %}

{% block body %}
<div class="submodule-content">
    <h2>{{ album.title }}</h2>
    <div class="album-one">
        <div class="album-meta">
            <span class="fecha">{{ album.modified_date }}</span> // 
            <span class="count">{{ album.public_photos.count }}</span> fotos
        </div>
        <div class="album-preview">
            {% for photo in photos %}
            <div class="preview-item">
                <a href="{{ photo.get_absolute_url }}"><img src="{{ photo.micro_photo }}"></img></a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% include "share.block.html" %}
</div>
{% endblock %}
