{% extends "base.html" %}
{% load i18n %}

{% block title %} - Albums{% endblock %}

{% block opengraph %}
<meta property="og:title" content="Niwi.Be Photo Albums"/>
<meta property="og:type" content="blog"/>
<meta property="og:url" content="{{ full_host_url }}" />
<meta property="og:image" content="{{ host }}/static/logo.png"/>
{% endblock %}

{% block body %}
<div class="submodule-content">
    <h2>{% trans "My public album list:" %}</h2>
    <div class="album-list">
        {% for album in object_list %}
        <div class="album">
            <div class="album-head">
                <a class="album-title" href="{{ album.get_absolute_url }}">{{ album.title }}</a>
                <div class="album-meta">
                    <span class="fecha">{{ album.modified_date }}</span> // 
                    <span class="count">{{ album.public_photos.count }}</span> fotos
                </div>
            </div>
            <div class="album-content">{{ album.description }}</div>
            <div class="album-preview">
                {% for prw in album.public_photos %}
                <div class="preview-item">
                    <a href="{{ prw.get_absolute_url }}"><img src="{{ prw.micro_photo }}"></img></a>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% include "share.block.html" %}
</div>
{% endblock %}
