{% extends "base.html" %}
{% load i18n %}
{% load markup %}
{% load photo_utils %}

{% block title %} - {% trans "Album:" %} {{ photo.album.title }} - {% trans "Photo:" %} {{ photo.id }} {% endblock %}

{% block opengraph %}
<meta property="og:title" content="Niwi.Be Photo Album - {{ photo.album.title }} - Photo {{ photo.id }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ full_host_url }}" />
<meta property="og:image" content="{{ photo.mini_photo }}" />
{% endblock %}

{% block html-head %}
<meta name="Keywords" content="{{ photo.album.keywords }}" />
<meta name="Description" content="{{ photo.description|truncatewords:30 }}" />
{% endblock %}

{% block body %}
<div class="submodule-content submodule-photo">
    <div class="album-photo">
        <div class="photo">
            <div class="photo-head">
                <a class="photo-title" href="{{ photo.get_absolute_url }}">{{ photo.title }}</a>
                <div class="photo-meta">
                    <span class="fecha">{{ photo.modified_date }}</span> //
                    <span class="album"><a href="{{ photo.album.get_absolute_url }}">{{ photo.album.title }}</a></span>
                </div>
            </div>
            <div class="photo-content"><img src="{{ photo.mini_photo }}"></img></div>
            <div class="photo-description">
                <p>{% blocktrans with photo.original_photo as purl %}Puede ver la foto en su tamaño orginal desde <a target="_blank" href="{{ purl }}">aqui.</a>{% endblocktrans %}</p>
                <p>{{ photo.description }}</p>
            </div>
        </div>
        {% if photo.geopoint %}
        <h3 style="padding-top: 40px;">{% trans "Mapa de la zona:" %}</h3> 
        <div class="maps"> 
            <img src="{{ photo.geopoint|maps_img }}"></img> 
        </div> 
        {% endif %}
    </div>
    {% include "share.block.html" %}
</div>
{% endblock %}
