<script type="text/javascript" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script type="text/javascript">
new TWTR.Widget({
    version: 2,
    type: 'profile',
    rpp: 7,
    interval: 6000,
    width: 'auto',
    height: 300,
    theme: {
        shell: {
            background: '#919191',
            color: '#000000'
        },
        tweets: {
            background: '#dbdbdb',
            color: '#474747',
            links: '#002bff'
        }
    },
    features: {
        scrollbar: false,
        loop: false,
        live: true,
        hashtags: true,
        timestamp: true,
        avatars: false,
        behavior: 'all'
    }
}).render().setUser('niwibe').start();
</script>
