{% extends "niwi/base.html" %}
{% load i18n %}
{% load utils %}
{% load url from future %}

{% block title %} {% trans "- Photo albums." %}{% endblock %}

{% block opengraph %}
<meta property="og:title" content="{{ page_default_title }} Page"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="{{ full_host_url }}" />
<meta property="og:image" content="{{ page_default_logo_url }}"/>
{% endblock %}

{% block html-head %}
<meta name="Keywords" content="{{ page_default_keyworkds }}" />
<meta name="Description" content="{{ page_default_description }}" />
{% endblock %}


{% block main %}
<header class="latest-photos">
    <h2>{% trans "Albums" %} / <a href="{% url 'photo:show-home' %}">{% trans "Show latest photos" %}</a></h2>
    <nav>
        <p class="intro">{% trans "See all albums published in" %}
            {% for year in years %}
            <a href="">{{ year }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
    </nav>
</header>
<section class="latest-photos">
    {% for album in albums %}
    <article class="photo album" lang="es">
        <h4>{{ album.name }}</h4>
        <a href="{{ album.get_absolute_url }}" rel="photo" title="">
            {% with photo=album.photos.all.0 %}
            <img src="{{ photo.square.url }}" class="preview"></img>
            {% endwith %}
        </a>
        <div class="photo-meta">
            <p class="small-description">
                {{ album.created_date|date:"j F Y" }}<br />
{% blocktrans count counter=album.photos.all.count %}
1 photo inside the album.
{% plural %}
{{ counter }} photos inside the album.
{% endblocktrans %}
            </p>
        </div>
    </article>
    {% endfor %}
</section>
{% endblock %}
