{% extends "niwi/base.html" %}
{% load i18n %}
{% load utils %}
{% load url from future %}

{% block title %} {% trans "- Photo albums." %}{% endblock %}

{% block opengraph %}
<meta property="og:title" content="{{ page_default_title }} Page"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="{{ full_host_url }}" />
<meta property="og:image" content="{{ page_default_logo_url }}"/>
{% endblock %}

{% block html-head %}
<meta name="Keywords" content="{{ page_default_keyworkds }}" />
<meta name="Description" content="{{ page_default_description }}" />
<link type="text/css" rel="stylesheet" media="screen" href="{{ STATIC_URL }}colorbox/colorbox.css" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}colorbox/jquery.colorbox-min.js"></script>
{% endblock %}

{% block main %}
<header class="latest-photos">
    <h2>{% trans "Latest photos" %} / <a href="{% url 'photo:show-albums' %}">{% trans "Show albums" %}</a></h2>
    <nav>
        <p class="intro">{% trans "See all photos published in" %}
            {% for year in years %}
            <a href="">{{ year }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
    </nav>
</header>
<section class="latest-photos">
    {% for photo in photos %}
    <article class="photo" lang="es">
        <a href="{{ photo.medium.url }}" rel="photo" title="{{ photo.small_description }}">
            <img src="{{ photo.square.url }}" class="preview"></img>
        </a>
        <div class="photo-meta">
            <p class="small-description">
                {{ photo.created_date|date:"j F Y" }}<br />
                {{ photo.small_description|wordwrap:28|linebreaksbr }} / 
                {{ photo.album.name }}</p>
        </div>
        <a class="show-detail icon" href="{{ photo.get_absolute_url }}">
            <img src="{{ STATIC_URL }}icons/eye.png"></img>
        </a>
    </article>
    {% endfor %}
</section>
{% endblock %}
